# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Mac
.DS_Store

# Only publish the Client to GitHub. Keep the entire server private.
server/
client_windows/

# Environment and Config files
.env
cloudflare.ini
*.conf

#others
.git_private
.gitignore_private